<!DOCTYPE html>
<html>
    <head><link rel="stylesheet" type="text/css" href="/css/index.css"></head>
    <body>
        <form action="/user" enctype="multipart/form-data" method="post" class="form1">
            <label for="Username">Username</label><br>
            <input type="email"><br>
            <label for="Password">Password</label><br>
            <input type="password"><br><br>
            <input type="submit" value="Login" class="buttonnya">
        </form>
    </body>
</html>